.SearchResults {
  &.container {
    max-width: 1000px;
  }
  display: flex;
  .area-side {
    height: 100%;
    width: 240px;

    height: 100vh;
    overflow: hidden;

    background: map-get($colors, lighter);

    .main-cat {
      display: flex;
      justify-content: space-around;
      width: 100%;
      border-bottom: 2px solid map-get($colors, light);

      button {
        margin: 0;
        margin-bottom: 2px;

        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        background: none;

        font-size: 1rem;
        color: map-get($colors, primary);
        &:hover {
          background-color: lighten(map-get($colors, lighter), 1.7%);
        }
        &.active {
          border-bottom: 3px solid map-get($colors, primary);
        }
      }
    }
    .filters {
      padding: 20px;
      button {
        display: block;
      }
      .filter {
        &-title {
          display: flex;
          width: 100%;
          align-items: center;
          font-size: 1.1rem;

          color: map-get($colors, accent);
          margin-bottom: 7px;

          span {
            font-weight: 600;
          }
          .title-icon {
            color: map-get($colors, darker);
            margin-right: 10px;
          }
        }

        &-drawer {
          margin-left: 40px;
          overflow: hidden;
          transition: max-height linear 500ms;

          &.closed {
            display: none;
          }
        }

        &-btn {
          width: 100%;
          padding: 0.2rem 0.5rem;
          margin-bottom: 7px;

          border-radius: 7px;
          background: map-get($colors, light);

          color: map-get($colors, accent);
          text-align: left;
          font-weight: bold;

          &:hover {
            background: map-get($colors, accent);
            color: map-get($colors, white);
          }
          &.selected {
            background: map-get($colors, primary);
            color: map-get($colors, white);
          }
        }
      }
    }
  }
  .area-results {
    flex: 5;
  }
}
