.Header {
  min-height: 7vh;
  border-bottom: map-get($colors, primary) solid 18px;

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
    padding-top: 0.8rem;

    .areaLogo {
      display: flex;
      align-items: center;

      .logoAndTag {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 25px;

        .logo {
          display: block;
          width: 140px;
        }
        .tagline {
          font-size: 0.8rem;
          font-weight: 600;
        }
      }

      .areaSearch {
        display: flex;
        overflow: hidden;
        border-radius: 4px;
        border: 1px solid map-get($colors, light);

        .searchBar {
          width: 280px;
          padding: 0.8rem;
          padding-left: 1rem;
          text-align: left;
          border: 0;
          outline: 0;

          font-size: 1rem;
          font-weight: 200;
          @include set-background(map-get($colors, lighter));
        }

        .btnSearch {
          padding: 0.8rem;
          border: 0;
          outline: 0;

          color: map-get($colors, accent);
          background-color: map-get($colors, lighter);
          cursor: pointer;
        }

        .btnSearch:hover {
          background-color: map-get($colors, light);
        }
      }
    }
    .areaIcons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-icon {
        margin-right: 2rem;
        font-size: 1.7rem;
        color: map-get($colors, grey);
      }
      .ProfilePic {
        width: 60px;
        height: 60px;
        border: 4px map-get($colors, medium) solid;
        img {
          border: 4px map-get($colors, white) solid;
        }
      }
    }
  }
}
