.Header {
  min-height: 7vh;
  border-bottom: map-get($colors, primary) solid 18px;

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;

    .areaLogo {
      display: flex;
      align-items: center;

      .logoAndTag {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 25px;

        .logo {
          display: block;
        }
        .tagline {
          font-size: 0.9rem;
          font-weight: 600;
        }
      }

      .areaSearch {
        display: flex;
        overflow: hidden;
        border-radius: 4px;

        .searchBar {
          width: 280px;
          padding: 0.8rem;
          padding-left: 1rem;

          border: 0;
          outline: 0;

          font-size: 1rem;
          font-weight: 200;
          @include set-background(map-get($colors, lighter));
          // color: map-get($colors, dark);
          // background-color: map-get($colors, lighter);
        }

        .btnSearch {
          padding: 0.8rem;
          border: 0;
          outline: 0;

          color: map-get($colors, accent);
          background-color: map-get($colors, lighter);
          cursor: pointer;
        }

        .btnSearch:hover {
          background-color: map-get($colors, light);
        }
      }
    }
    .areaIcons {
    }
  }
}
