.SignUp > .container {
  display: flex;
  flex-flow: column;
  height: 75vh;
  max-width: 500px;
  justify-content: center;
  & > * {
    margin-bottom: 20px;
  }
  h1 {
    span {
      font-size: 1.2rem;
      vertical-align: middle;
      margin: 0 1rem;
    }
  }
  input.form-field {
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid lighten(map-get($colors, dark), 45);
    font-size: 1rem;
    text-align: left;
    &:focus {
      outline: 0.8px solid map-get($colors, primary);
    }
  }
  .form-field:hover {
    border-color: map-get($colors, primary);
  }
  .form-actions {
    text-align: right;
    button[type="submit"] {
      margin-left: 1rem;
    }
  }
}
