.TimeLine {
  position: relative;
  & * {
    text-align: left;
    display: inline;
  }
  & a {
    font-weight: 600;
  }
  overflow-y: visible;
  .year-wrap {
    display: block;
    margin-left: 50px;
    .yearTitle {
      display: block;
      font-size: 2rem;
      font-weight: 100;
      color: map-get($colors, grey);
      margin-bottom: -0.8rem;
    }
    .stamp {
      display: block;
      margin-left: 75px;
      margin-bottom: 4rem;
      .stampDate {
        margin-right: 1rem;
      }
      svg {
        margin-right: 0.6rem;
        color: map-get($colors, primary);
      }
    }
  }
}
.TimeLine::before {
  content: "";
  position: absolute;
  border-left: 4px darken(map-get($colors, light), 3) dotted;
  z-index: 2;
  height: 100%;
  width: 100%;
  left: 115px;
}
