.UserProfile {
  .container {
    max-width: 860px;
    margin: 0 auto;

    .cover-container {
      overflow: hidden;
      height: 140px;
      border-radius: 0 0 0 30px;

      .cover-pic {
        transform: translateY(-50%);
      }
    }

    .profile-cols {
      display: flex;

      .left-col {
        flex: 2;
        width: 100%;
        display: fixed;
        margin: 0 auto;
        margin-top: -65px;
        color: map-get($colors, dark);

        .profile-pic > * {
          margin: 0 auto;
          margin-bottom: -3px;
        }
        .profileName {
          font-size: 1.3rem;
          font-weight: 900;
        }
      }

      .right-col {
        background-color: map-get($colors, light);
        flex: 5;
      }
    }
  }
}
