.UserProfile {
  .container {
    max-width: 860px;
    margin: 0 auto;

    .cover-container {
      overflow: hidden;
      height: 140px;
      border-radius: 0 0 0 30px;

      .cover-pic {
        transform: translateY(-50%);
      }
    }

    .profile-cols {
      display: flex;

      .left-col {
        flex: 2;
        width: 100%;
        display: fixed;
        margin: 0 auto;
        margin-top: -70px;

        .profile-pic > * {
          margin: 0 auto;
        }
      }

      .right-col {
        background-color: burlywood;
        flex: 5;
      }
    }
  }
}
