.UserProfile {
  .container {
    max-width: 860px;
    margin: 0 auto;

    .cover-container {
      overflow: hidden;
      height: 140px;
      border-radius: 0 0 0 30px;

      .cover-pic {
        transform: translateY(-50%);
      }
    }

    .profile-cols {
      display: flex;

      .side-col {
        flex: 2;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
        margin-top: -65px;
        width: 100%;
        padding: 0.5rem;

        color: map-get($colors, dark);

        .side-top {
          width: 100%;
          .profile-pic > * {
            margin: 0 auto;
            margin-bottom: -3px;
          }
          .profileName {
            font-size: 1.3rem;
            font-weight: 900;
          }
          .profileChips {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 0.5rem;
          }
        }
        .side-bot {
          position: relative;

          height: 100%;
          width: 100%;
        }
      }

      .main-col {
        background-color: map-get($colors, light);
        flex: 5;
        height: 100vh;
      }
    }
  }
}
