.profile-container {
  max-width: 860px;
  margin: 0 auto;
}

.UserProfile .cover-container {
  overflow: hidden;
  height: 140px;
  border-radius: 0 0 0 30px;
}
.UserProfile .cover-pic {
  transform: translateY(-50%);
}

.profile-cols {
  display: flex;
}
.profile-cols .left-col {
  flex: 2;
  width: 100%;
  display: fixed;
  /* flex-direction: column; */
  margin: 0 auto;
  margin-top: -70px;
}
.profile-cols .left-col .profile-pic > * {
  margin: 0 auto;
}
.profile-cols .right-col {
  background-color: burlywood;
  flex: 5;
}
